@model IDENTITY.Models.RoomModel

<form asp-action="EditRoom" method="post">

	<h3>Edit Room</h3>
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="RoomName"></label>
		<input asp-for="RoomName" class="form-control" />
		<span asp-validation-for="RoomName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Capacity"></label>
		<input asp-for="Capacity" class="form-control" />
		<span asp-validation-for="Capacity" class="text-danger"></span>
	</div>
	<div class="" form-group"">
		<label asp-for=" Status">Availability</label>
		<select asp-for="Status" class="" form-control"">
			<option value=" Available">Available</option>
			<option value=" NotAvailable">Not Available</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Edit</button>
	<a asp-action="GetRoom" class="btn btn-primary">Back to List</a>
</form>
