@model IDENTITY.Models.AddParticipantViewModel

@{
    ViewData["Title"] = "Add Participant";
}

<h1>Add Participant to Booking</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddParticipant" method="post">
            <input type="hidden" asp-for="Booking.ID" />

            <div class="form-group">
                <label asp-for="Booking.RoomModel.RoomName" class="control-label">Room Name:</label>
                <input asp-for="Booking.RoomModel.RoomName" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Booking.StartTime" class="control-label">Start Time:</label>
                <input asp-for="Booking.StartTime" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Booking.EndTime" class="control-label">End Time:</label>
                <input asp-for="Booking.EndTime" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label for="UserId">Select Participant:</label>
                <select class="form-control" asp-for="UserId">
                    <option value="">Select Participant</option>
                    @foreach (var participant in Model.AvailableParticipants)
                    {
                        <option value="@participant.Name">
                            @(participant != null ? $"{participant.Name} ({participant.UserName})" : "Unknown Participant")
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Participant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="GetBookingDetails" class="btn btn-primary" asp-route-id="@Model.Booking.ID">Back to Participants</a>
</p>