<div class="list-group">
	<ul>
		<li><a href="@Url.Action("GetRoom", "Booking")">Get Room</a></li>
		<li><a href="@Url.Action("GetBookingDetails", "Booking")">Booked Room Details</a></li>
		<li><a href="@Url.Action("GetParticipants","Booking")">List of Participants with respective booking ID of room</a></li>

</div>
