@model IDENTITY.Models.ParticipantModel



<h2>Remove Participant</h2>

<div>
	<h4>Are you sure you want to remove participant?</h4>
	<h4>Participant ID: @Model.Id</h4>
	<h4>User: @Model.UserId</h4>
	<h4>Booking ID: @Model.BookingId</h4>
</div>

<form asp-action="RemoveParticipant" method="post">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a asp-action="GetParticipants" class="btn btn-primary">Cancel</a>
	</div>
</form>