<h2>You are not authorized !</h2>
<p>
	<a asp-action="GetBookingDetails" class="btn btn-primary">Back to Room List</a>
</p>
<p>
	<a asp-action="GetParticipants" class="btn btn-primary">Back to Participant List</a>
</p>

